name: Python Package using Conda

on: [push]

jobs:
 build-windows:
    runs-on: windows-latest
   
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Test with pytest
      run: |
        pip install pytest
        pip install pytest-cov
        pytest --continue-on-collection-errors -v --junitxml=junit/test-results.xml --cov=tests --cov-report=xml --cov-report=html 
    
    - name: Convert Junit to Trx
      run: |
        JunitToTrxConverter/ConsoleApp2.exe junit/test-results.xml test-results.trx
    
    - name: Convert Trx to Html
      run: |
        TrxConsole/TrxerConsole.exe test-results.trx
        
    - name: add the results to code.
      run: |
        git config user.email "you@example.com"
        git config user.name "System"
        git add junit/test-results.xml
        git add test-results.trx
        git add test-results.trx.html
        git commit -m 'updating coverage'
        git push
        
    
    - name: Upload Coverage Artifact
      uses: actions/upload-artifact@v2.3.0
         with:
         name: test-coverage-report
         path: |
              test-results.trx
              test-results.trx.html
              junit/test-results.xml
